body {
  background-image: url('http://wall2born.com/data/out/142/image-49016693-psychedelic-art-wallpapers.jpg');
}

#head{
border: 2px solid black;
  outline:black solid 10px;
  margin: auto;
  padding: 20px;
  text-align: center;
}
h1{
  color: white
}

h2{
  color: white
}
